<div class="row">
  <div class="col">
    <button type="button" style="margin-bottom: 10px" class="btn btn-dark" (click)="buscarAlumnos()">
      Buscar
    </button>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Apellido</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cuil</th>
      <th scope="col">Repartición</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos">
      <th scope="row">{{ alumno.idAlumno }}</th>
      <td>{{ alumno.apellido }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.cuil }}</td>
      <td>{{ alumno.reparticion.nombre }}</td>
    </tr>
  </tbody>
</table>
<ngx-spinner></ngx-spinner>
